/* services
================*/

.services__inner {
    display: flex;
    justify-content: space-between;
}

.services__links {
    margin-left: 80px;
    margin-right: 40px;
    width: 20%;
}

.services__links .nav__link {
    margin: 20px 0px 0px;
    color: rgb(73, 3, 73);
}

.services__word {
    font-size: 25px;
    font-weight: 800;
    color: wheat;
    margin-left: 30px;
}
.services__photo {
    width: 80%;
}

.services__slider__photo {
    overflow: hidden;
    height: 360px;
    position: relative;
}

/*todo*/
.services__item {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%,-50%, 0);
}

.slick-dots {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0 0 10px;
    list-style: none;
    z-index: 2;
}

.slick-slide:focus {
    outline: 0;
}
.slick-dots li {
    margin: 0 5px;
}
.slick-dots button {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 0;
    padding: 0;
    opacity: 0.5;
    font-size: 0;
    color: transparent;

    cursor: pointer;
}

.slick-dots button:focus { 
    outline: 0;
}
.slick-dots .slick-active button {
    opacity: 1;
}
/* information
================*/

.information {
    margin: 50px 0 0;
}

.information__maintitle {
    font-weight: 800;
    color: rgb(96, 113, 131);
    font-style: italic;
    font-family: 'Bodoni Moda', sans-serif;

    margin: 0 0 40px;
}

.information__inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.information__item {
    height: 330px;
    
    width: 33.333333333%;
    margin-bottom: 30px;
    padding: 0px 35px;
}

.information__title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: rgb(51, 82, 82);
    margin-bottom: 10px;
}

.information__text {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 500;
    
}

@media (max-width:1050px) {
    .services__item {
        width: auto;
        height: auto;
    }

    .services__links {
        width: 28%;
    }
    .services__photo {
        width: 72%;
    }

}

@media (max-width:980px) {

    /* services
    ===========*/
    .services__links {
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        width: 27%;
    }

    .services__links .nav__link {
        font-size: 18px;
    }

    .services__photo {
        width: 73%;
    }
    
    /* information
    ===========*/
    .information__item {
        width: 50%;
        height: 350px;
    }

    .information__text {
       color:#000000;
       font-size: 20px;
    }
}

@media (max-width: 680px) {

    /* services
    ===========*/
    .services__links .nav {
        font-size: 16px;
    }

    /* information
    ===========*/
    .information__icon svg {
        height: 130px;
        width: 130px;
    }

    .information__icon {
        display: flex;
        justify-content: center;
    }
    .information__text {
        font-size: 15px;
    }

    .information__item {
        height: 325px;
    }

    .information__maintitle {
        font-size: 23px;
        margin: 0 0 20px;
    }
}

@media (max-width: 450px) {

    /* information
    ===========*/
    .information__inner{
        display: block;
    }

    .information__item {
        width: 100%;
        height: fit-content;
    }

    .information__maintitle {
        text-align: center;
    }
    
    /* services
    ===========*/
    .services__photo {
        display: none;
    }

    .services__links {
        width: 100%;
        margin-left: 30px;
        margin-top: 15px;
    }
}

@media (max-width: 350px) {
    
    /* information
    ===========*/
    .information__icon svg {
        height: 100px;
        width: 100px;
    }

    .information__icon {
        display: flex;
        justify-content: center;
    }
    .information__item {
        height: fit-content;
    }

    .information__maintitle {
        font-size: 23px;
    }
}
