.beforeAndAfter {
    margin-bottom: 20px;
}

.beforeAndAfter__maintitle {
    font-size: 25px;
    font-weight: 700;
    color: lightslategray;
    margin-bottom: 10px;
}

.beforeAndAfter__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beforeAndAfter__innerblock {
    width: 50%;
} 

.beforeAndAfter__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: rgb(29, 28, 28);
    margin-bottom: 6px;
    padding-left: 15px;
    border-left: 7px double cornflowerblue;
}

.beforeAndAfter__smalltext {
    font-weight: 700;
    font-size: 20px;
    color:midnightblue;
}

.beforeAndAfter__photo {
    margin: auto;
    width: fit-content;
}

.beforeAndAfter__item {
    
    height: 300px;
    width: 300px;
}

.beforeAndAfter__innertitle {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 600;
    color:lightcoral;
}

@media (max-width: 850px) {
    .beforeAndAfter__maintitle {
        font-size: 22px;
    }

    .beforeAndAfter__block {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .beforeAndAfter__text {
        font-size: 15px;
        line-height: 1.3;
    }

    .beforeAndAfter__smalltext {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .beforeAndAfter__item {
        height: 250px;
        width: 250px;
    }

    .beforeAndAfter__maintitle {
        font-size: 18px;
    }

    .beforeAndAfter__smalltext {
        font-size: 15px;
    }

    .beforeAndAfter__innertitle {
        font-size: 15px;
    }

    .beforeAndAfter__text {
        font-size: 14px;
        line-height: 1.2;
    }

    .beforeAndAfter__block {
        margin-bottom: 15px;
    }
}

@media (max-width: 530px) {
    .beforeAndAfter__innerblock {
        width: 100%;
    }

    .beforeAndAfter__smalltext {
        margin-bottom: 10px;
    }
}

@media (max-width: 390px) {
    .beforeAndAfter__maintitle {
        font-size: 17px;
    }
    .beforeAndAfter__text {
        font-size: 15px;
        line-height: 1.4;
    }
}




