body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color:rgb(143, 137, 137);
    background-color: #fff;
}

 *,
 *:before, 
 *:after {
    box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6 {
     margin: 0;
 }

p {
   margin: 0 0 10px;
}

/* container
===============*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* sign up 
================*/

#popup__background {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}

.form__container {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}
  
  /* The popup form - hidden by default */

  .form__popup {
    position: relative;
    margin: 0 auto;
    width: fit-content;
    top: 25%;
    z-index: 1200;
  }
    .popup__maintitle {
    font-size: 30px;
    font-weight: 630;
    color: rgb(29, 28, 28);
    text-align: center;
    margin-bottom: 25px;
  }

  .popup__title {
    font-size: 14px;
    font-weight: 530;
    color: rgb(29, 28, 28);
  }
 
  /* Add styles to the form container */
  .form__item {
    max-width: 380px;
    padding: 25px;
    background-color: white;
  }

  .popup__textarea {
    width: 330px;
    background: #f4f4f8;
    border: none;
    height: 80px;
    padding-left: 15px;
    color: rgba(0,23,31,.7);
    padding-top: 8px;
    margin-bottom: 15px;
    border-color: #fff;
    margin-top: 7px;
  }
  /* Full-width input fields */
  .form__item input[type=text], .form__item input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 7px 0 22px 0;
    border: none;
    background: #f4f4f8;
  }
  .form__item input:last-child[type=text] {
    padding-bottom: 30px;
  }
  /* When the inputs get focus, do something */
  .form__item input[type=text]:focus, .form__item input[type=tel]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form__item .btn {
    background-color:cadetblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  /*.form__item .cancel {
    background-color: red;
  }*/
  
  /* Add some hover effects to buttons */
  .form__item .btn:hover, .open-button:hover {
    opacity: 1;
  }

/* header 
================*/

.header__inner {
    padding: 30px 0 20px;
    display: flex;
}

.header__lodo {
    width: 18%;
}

.header__name {
    margin-left: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    
    width: 18%;
    color: rgb(135, 94, 177);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}

.header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64%;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.address__inner {
    font-size: 18px;
    font-weight: 600;
    color: rosybrown;
    text-transform: uppercase;
}

/* nav
================*/
.nav {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Bodoni Moda', sans-serif;
}

.nav__link {
    color:rgb(7, 26, 66);
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.5s linear;
}

.nav__link:hover {
    opacity: 1;
}

.nav__link:first-child {
    margin-left: 0;
}

/* button
================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 3px;
    border: 0;
    cursor: pointer;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    height:fit-content;

    transition: background 0.5s linear;
}

.btn--red {
    background-color: tomato;
}

.btn--red:hover {
    background-color: rgb(224, 41, 9);
}

/* social
================*/

.social {
    display: flex;
    align-items: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
    border: 1px solid #c6cacc;
    transition: background 0.3s linear;
}

.social__item:hover {
    background-color: #c6cacc;
}

.social__item:hover .social__icon {
    fill: #dd1919;
}

.social__icon {
    display: block;
    height: 20px;

    fill: #c6cacc;
    transition: fill 0.3s linear;
}

/* burger
================*/
.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;

    font-size: 0;
    color: transparent;

    background-color: black;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    background-color:black;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

@media (max-width:980px) {
    /* header
    ===========*/
    .address__inner {
        font-size: 20px;
    }

    .address__item {
       font-size: 18px;
    }

    .header__name {
        width: 25%;
    }
    
    .header__menu .nav {
        display: none;
    }

    .header__menu .social {
        display: none;
   
    }

    .header__inner {
        padding-bottom: 5px;
    }

    /* btn
    ===========*/
    .btn {
        margin-right: 40px;
        margin-top: 25px;
    } 

    /* burger
    ===========*/
    .burger {
        display: block;
    }
    .burger {
        margin-right: 20px;
        margin-bottom: 55px;
    }
}

@media (max-width: 680px) {
    /* header
    ===========*/
    .header__inner {
        padding-top: 15px;
    }
    .header__logo img {
        height: 90px;
        width: 90px;
    }
    .header__name {
        margin-left: 7px;
        font-size: 12px;
    }
    .header__address {
        margin-top: 15px;
    }
    .address__inner {
        font-size: 15px;
    }

    .address__item {
        font-size: 14px;
    }
    /* burger
    ===========*/
    .burger {
        margin-right: 10px;
    }

    /* btn
    ===========*/
    .btn {
        padding: 12px 25px;
        margin-right: 20px;
    }
}

@media (max-width: 450px) {

     /* header
    ===========*/
    .header__name {
        width: 50%;
        margin-left: 15px;
        font-size: 16px;
    }

    .address__item {
        display: none;
    }

    .address__inner {
        display: none;
    }

    /* btn
    ===========*/
    .btn {
        display: none;
    }
}

@media (max-width: 350px) {

    /* header
    ===========*/
    .header__logo img {
        height: 80px;
        width: 80px;
    }

    .header__name {
        font-size: 13px;
    }
}

